:root {
    --madeira: #7a5230;
    --verde-folha: #7cb518;
    --ceu: #87ceeb;
    --fundo: #fff9ec;
    --botao: #d9a066;
    --hover: #c97a36;
}

* {
    background: url('assets/back-desk.png') no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4; /* Cor de fundo de fallback */
    color: #333;
}

.intro {
    text-align: center
}

.imagem {
    width: 40%;
    cursor: pointer;
    transition: width 0.5s ease-in-out;
}


header {
    text-align: center;
    padding: 2rem;
    padding-bottom: 0;
    font-size: 1.8rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    align-items: center;

    & img {
        width: 80%;
    }
}

.card {
    background: none;
    background-color: #fff;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}

.card-header {
    margin-bottom: 20px;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 3rem;
    
}

.image-row img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
    background: none
}

.image-row img:hover {
    transform: scale(1.2);
}








































main {
    /* padding: 20px; */
    height: 8000px;
}
footer {
    background-color: #eee;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}




