:root {
  --madeira: #7a5230;
  --verde-folha: #7cb518;
  --ceu: #87ceeb;
  --fundo: #fff9ec;
  --botao: #d9a066;
  --hover: #c97a36;
}

* {
  background: url('assets/back-desk.png') no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  text-align: center;
  padding: 2rem;
  padding-bottom: 0;
  font-size: 1.8rem;
  align-items: center;
  transform: scale(0.2);
  opacity: 0;
  animation: crescer 1s ease-out forwards;
  background: none;
}

header img {
  width: 80%;
  background: none
}

/* Intro */
.intro {
  text-align: center;
  padding: 4rem;
}

.intro .intro-msg {
  width: 40%;
  cursor: pointer;
  transition: width 0.5s ease-in-out;
  transform: scale(0.2);
  opacity: 0;
  animation: crescer 1s ease-out forwards;
  background: none;
}

@keyframes crescer {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Card */
.card {
  background-color: #fff;
  border-radius: 10px;
  max-width: 1400px; /* Aumentado de 400px para 800px */
  margin: auto;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 20px; /* Adicionado padding para dar mais espaço */
}

/* Imagens com texto sobreposto */
.image-card {
  position: relative;
  background: none;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.image-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.3s;
  background: none;
  transform: scale(0.2);
  opacity: 0;
  animation: crescer 1s ease-out forwards;
}

.image-card:hover img {
  transform: scale(1.1); /* Reduzido um pouco para não sobrepor demais */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px; /* Texto maior */
  font-weight: bold;
  text-shadow: 2px 2px 4px black; /* Sombra mais forte */
  pointer-events: none;
  text-align: center;
  background: none;
  
  
  & p {
      transition: transform 0.3s;
      background: none;
      cursor: pointer;
      transform: scale(0.2);
      opacity: 0;
      animation: crescer 1s ease-out forwards;
  }
}

.image-card:hover .text-overlay p {
  transform: scale(1.1);
  cursor: pointer;
}

.image-card:hover {
  transform: scale(1.05); /* Aumenta o tamanho do card em 5% */
  z-index: 1; /* Garante que o card fique por cima dos outros durante o hover */
}

/* Main */
main {
  /* padding: 20px; */
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

/* Adicione estas novas regras no final do arquivo */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.popup-overlay.show {
  opacity: 1;
}

.popup-content {
  max-width: 80%;
  max-height: 80%;
  position: relative;
  transform: scale(0.5);
  opacity: 0;
  transition: all 1s ease;
  background: none;

}

.popup-overlay.show .popup-content {
  transform: scale(1);
  opacity: 1;
}

.popup-content img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  background: none;

}

.popup-close {
  position: absolute;
  top: -40px;
  right: -10px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  background-color: rgba(221, 63, 63, 0.5) !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  background: none;
}

.popup-close:hover {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}

